---
layout: default
title: Home
---

{% if page.url == "/" %}
<!--<div class="tabbable">
<ul class="nav nav-tabs">
    <li class="active"><a href="#latest" data-toggle="tab">Latest</a></li>
    <li><a href="#liked" data-toggle="tab">Liked</a></li>
    <li><a href="#retweeted" data-toggle="tab">Retweeted</a></li>
    <li class="dropdown pull-right tabdrop"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-align-justify"></i><b class="caret"></a></li>
</ul>

<ul class="nav nav-tabs">
    <li class="active"><a href="#latest" data-toggle="tab">Section 1</a></li>
    <li class=""><a href="#liked" data-toggle="tab">Section 2</a></li>
    <li class=""><a href="#retweeted" data-toggle="tab">Section 3</a></li>
  </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="latest">
          <p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="liked">
          <p>Howdy, I'm in Section 2.</p>
        </div>
        <div class="tab-pane" id="retweeted">
          <p>Howdy, I'm in Section 3.</p>
        </div>
    </div>

</div>
-->

<!--
<ul id="tabs" class="nav-tabs">
    <li><a href="#" name="#tab1">Latest</a></li>
    <li><a href="#" name="#tab2">Most Liked</a></li>
    <li><a href="#" name="#tab3">Retweeted</a></li>
    <li class="dropdown pull-right tabdrop"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-align-justify"></i><b class="caret"></a></li>
</ul>
-->

<div class="tab">
  <button class="{% if page.url == "/" %} active {% endif %} tablinks" onclick="openTab(event)" id="defaultOpen">LATEST</a></button>
  <button class="{% if page.url contains '/liked/' %} active {% endif %} tablinks" onclick="openTab(event)">TOP</button>
  <button class="{% if page.url contains '/retweeted/' %} active {% endif %} tablinks" onclick="openTab(event)">RETWEETED</button>
  <!-- TODO: add search tags functionality on this nav -->
</div>


{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <!--
    <div class="section-title">
        <h2><span>All Paper Tweets</span></h2>
    </div>
    -->
    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

