<div class="share sticky-top sticky-top-offset">
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/realSharonZhou/status/1349916170963578887" onclick="window.open(this.href);return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/like?tweet_id=1349916170963578887" onclick="window.open(this.href);return false;">
                <i class="far fa-heart"></i>
            </a>
        </li>
        
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/retweet?tweet_id=1349916170963578887" onclick="window.open(this.href);return false;">
                <i class="fas fa-retweet"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?in_reply_to=1349916170963578887" onclick="window.open(this.href);return false;">
                <i class="far fa-comment"></i>
            </a>
        </li>

    </ul>
</div>
