---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #26a2f5;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Lato";
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1179bf;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #054c7c;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


// Top margin of body
.site-content {
    margin-top: 37px;
}

.recent-posts {
    margin-top: 25px;
}

// Tweet separator
.t-tweet {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f3f0f0;
}

// Make first tweet in thread larger font
#tweet_1 {
    font-size: 25px;
}

// Hover over tweet
.content-tweet:hover {
    background-color: #eaf7ff;
}

// Show several images per post
.img-fluid {
    width: 33%;
}

.card-group {
    min-width: 98%;
}

.card {
    border: none;
}

// Original themes css

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
